#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=TVDemon
GenericName=IPTV Player
GenericName[ru]=IPTV-плеер
Comment=An M3U IPTV Player
Icon=tvdemon
Exec=bash -c 'cd $(dirname %k) && ./tvdemon'
Terminal=false
Type=Application
Categories=Utility;Application;
StartupNotify=false
